A general overview and code of how the merging of the calculated points goes.

For the two groupings we're merging, the first, varaibles with no number at the end, we have 3 parings of ids where we have the information of their combined cost and combined points. For the second group, variables that end in `2`, there are four groups of ids, costs, and points. We're working in deminsions here, so it's important to keep in mind that as long as the indicies of the values associated with the people are legal, then we're good.

As a note, look and go through the `example_brisk_optimize` notebook first. It's a simlar calculations, but easier to understand than this.

In [3]:
import numpy as np
import itertools

In [4]:
ids = np.array([np.arange(4), np.arange(4) + 4]).T #ids.shape == (4,2)
ids

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [5]:
ids2 = np.array([np.arange(5) + 8, np.arange(5) + 13]).T #ids2.shape == (5,2)
ids2

array([[ 8, 13],
       [ 9, 14],
       [10, 15],
       [11, 16],
       [12, 17]])

In [6]:
ids_comb = np.array([np.concatenate((x,y)) for x,y in list(itertools.product(ids, ids2))])
ids_comb

array([[ 0,  4,  8, 13],
       [ 0,  4,  9, 14],
       [ 0,  4, 10, 15],
       [ 0,  4, 11, 16],
       [ 0,  4, 12, 17],
       [ 1,  5,  8, 13],
       [ 1,  5,  9, 14],
       [ 1,  5, 10, 15],
       [ 1,  5, 11, 16],
       [ 1,  5, 12, 17],
       [ 2,  6,  8, 13],
       [ 2,  6,  9, 14],
       [ 2,  6, 10, 15],
       [ 2,  6, 11, 16],
       [ 2,  6, 12, 17],
       [ 3,  7,  8, 13],
       [ 3,  7,  9, 14],
       [ 3,  7, 10, 15],
       [ 3,  7, 11, 16],
       [ 3,  7, 12, 17]])

`costs` and `costs2` variables are created with random numbers insequential order

In [7]:
costs = np.array([5,7,8,9])
costs

array([5, 7, 8, 9])

In [8]:
costs2 = np.array([2,3,5,6,8])
costs2

array([2, 3, 5, 6, 8])

We can see that the array below has all the different ways we can combined those cost numbers

In [9]:
cost_comb = np.array(list(itertools.product(costs, costs2)))
cost_comb

array([[5, 2],
       [5, 3],
       [5, 5],
       [5, 6],
       [5, 8],
       [7, 2],
       [7, 3],
       [7, 5],
       [7, 6],
       [7, 8],
       [8, 2],
       [8, 3],
       [8, 5],
       [8, 6],
       [8, 8],
       [9, 2],
       [9, 3],
       [9, 5],
       [9, 6],
       [9, 8]])

And now we can see that those values have been added together. Now we know the complete cost of those players

In [10]:
cost_sum = cost_comb.sum(axis=1)
cost_sum

array([ 7,  8, 10, 11, 13,  9, 10, 12, 13, 15, 10, 11, 13, 14, 16, 11, 12,
       14, 15, 17])

In [11]:
points = np.array([3,5,6,4])
points

array([3, 5, 6, 4])

In [12]:
points2 = np.array([2,7,4,6,6])
points2

array([2, 7, 4, 6, 6])

Like above, were calculating the product of the `points` and `points2` variables. Key point is that `itertools.product` returns the values in the same order. If that wasn't the case, this fails.

In [13]:
points_comb = np.array(list(itertools.product(points, points2)))
points_comb

array([[3, 2],
       [3, 7],
       [3, 4],
       [3, 6],
       [3, 6],
       [5, 2],
       [5, 7],
       [5, 4],
       [5, 6],
       [5, 6],
       [6, 2],
       [6, 7],
       [6, 4],
       [6, 6],
       [6, 6],
       [4, 2],
       [4, 7],
       [4, 4],
       [4, 6],
       [4, 6]])

In [14]:
points_sum = points_comb.sum(axis=1)
points_sum

array([ 5, 10,  7,  9,  9,  7, 12,  9, 11, 11,  8, 13, 10, 12, 12,  6, 11,
        8, 10, 10])

For the third time, we're grouping the ids together in the same order. The concatenate makes the array have only two dimensions which is what we want for now.

In [15]:
test_salaries = np.array([9,10,11,12])
test_salaries

array([ 9, 10, 11, 12])

When we run the `broadcast_to`, we can see that with the following shape, each row is a test for each salary. Keep that in mind.

In [16]:
test_salaries_full = np.broadcast_to(test_salaries, (cost_sum.size, test_salaries.size)).T #(cost_sum.size, test_salaries.size) ensures the correct dimensions
test_salaries_full

array([[ 9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
         9,  9,  9,  9],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
        10, 10, 10, 10],
       [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11],
       [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12]])

In [17]:
ids_comb_full = np.broadcast_to(ids_comb, (test_salaries.size, points_sum.size, 4))
ids_comb_full

array([[[ 0,  4,  8, 13],
        [ 0,  4,  9, 14],
        [ 0,  4, 10, 15],
        [ 0,  4, 11, 16],
        [ 0,  4, 12, 17],
        [ 1,  5,  8, 13],
        [ 1,  5,  9, 14],
        [ 1,  5, 10, 15],
        [ 1,  5, 11, 16],
        [ 1,  5, 12, 17],
        [ 2,  6,  8, 13],
        [ 2,  6,  9, 14],
        [ 2,  6, 10, 15],
        [ 2,  6, 11, 16],
        [ 2,  6, 12, 17],
        [ 3,  7,  8, 13],
        [ 3,  7,  9, 14],
        [ 3,  7, 10, 15],
        [ 3,  7, 11, 16],
        [ 3,  7, 12, 17]],

       [[ 0,  4,  8, 13],
        [ 0,  4,  9, 14],
        [ 0,  4, 10, 15],
        [ 0,  4, 11, 16],
        [ 0,  4, 12, 17],
        [ 1,  5,  8, 13],
        [ 1,  5,  9, 14],
        [ 1,  5, 10, 15],
        [ 1,  5, 11, 16],
        [ 1,  5, 12, 17],
        [ 2,  6,  8, 13],
        [ 2,  6,  9, 14],
        [ 2,  6, 10, 15],
        [ 2,  6, 11, 16],
        [ 2,  6, 12, 17],
        [ 3,  7,  8, 13],
        [ 3,  7,  9, 14],
        [ 3,  7, 10, 15],
        [ 3,  7, 11, 16],
        [ 3,  7, 12, 17]],

       [[ 0,  4,  8, 13],
        [ 0,  4,  9, 14],
        [ 0,  4, 10, 15],
        [ 0,  4, 11, 16],
        [ 0,  4, 12, 17],
        [ 1,  5,  8, 13],
        [ 1,  5,  9, 14],
        [ 1,  5, 10, 15],
        [ 1,  5, 11, 16],
        [ 1,  5, 12, 17],
        [ 2,  6,  8, 13],
        [ 2,  6,  9, 14],
        [ 2,  6, 10, 15],
        [ 2,  6, 11, 16],
        [ 2,  6, 12, 17],
        [ 3,  7,  8, 13],
        [ 3,  7,  9, 14],
        [ 3,  7, 10, 15],
        [ 3,  7, 11, 16],
        [ 3,  7, 12, 17]],

       [[ 0,  4,  8, 13],
        [ 0,  4,  9, 14],
        [ 0,  4, 10, 15],
        [ 0,  4, 11, 16],
        [ 0,  4, 12, 17],
        [ 1,  5,  8, 13],
        [ 1,  5,  9, 14],
        [ 1,  5, 10, 15],
        [ 1,  5, 11, 16],
        [ 1,  5, 12, 17],
        [ 2,  6,  8, 13],
        [ 2,  6,  9, 14],
        [ 2,  6, 10, 15],
        [ 2,  6, 11, 16],
        [ 2,  6, 12, 17],
        [ 3,  7,  8, 13],
        [ 3,  7,  9, 14],
        [ 3,  7, 10, 15],
        [ 3,  7, 11, 16],
        [ 3,  7, 12, 17]]])

In [18]:
cost_sum_full = np.broadcast_to(cost_sum,(test_salaries.size, cost_sum.size))
cost_sum_full

array([[ 7,  8, 10, 11, 13,  9, 10, 12, 13, 15, 10, 11, 13, 14, 16, 11,
        12, 14, 15, 17],
       [ 7,  8, 10, 11, 13,  9, 10, 12, 13, 15, 10, 11, 13, 14, 16, 11,
        12, 14, 15, 17],
       [ 7,  8, 10, 11, 13,  9, 10, 12, 13, 15, 10, 11, 13, 14, 16, 11,
        12, 14, 15, 17],
       [ 7,  8, 10, 11, 13,  9, 10, 12, 13, 15, 10, 11, 13, 14, 16, 11,
        12, 14, 15, 17]])

In [19]:
points_sum_full = np.broadcast_to(points_sum,(test_salaries.size, points_sum.size))
points_sum_full

array([[ 5, 10,  7,  9,  9,  7, 12,  9, 11, 11,  8, 13, 10, 12, 12,  6,
        11,  8, 10, 10],
       [ 5, 10,  7,  9,  9,  7, 12,  9, 11, 11,  8, 13, 10, 12, 12,  6,
        11,  8, 10, 10],
       [ 5, 10,  7,  9,  9,  7, 12,  9, 11, 11,  8, 13, 10, 12, 12,  6,
        11,  8, 10, 10],
       [ 5, 10,  7,  9,  9,  7, 12,  9, 11, 11,  8, 13, 10, 12, 12,  6,
        11,  8, 10, 10]])

At this point, note the shapes of cost_sum_full, points_sum_full, test_salaries_full, and ids_comb_full:

In [20]:
print("cost_sum_full:     ", cost_sum_full.shape)
print("points_sum_full:   ", points_sum_full.shape)
print("test_salaries_full:", test_salaries_full.shape)
print("ids_comb_full:     ", ids_comb_full.shape)

cost_sum_full:      (4, 20)
points_sum_full:    (4, 20)
test_salaries_full: (4, 20)
ids_comb_full:      (4, 20, 4)

The key work before was to get these deminsions to match up so we can do direct comparison. As an example, we can pick (x,y) coords as (2,4) and see that the information matches up. Remember, the reason that `ids_comb_full` has that 3rd dimension is because we're combining groups of 4 player ids.

In [21]:
x,y = 2,4
print("Indexes: ", ids_comb_full[x][y])
print("Cost: ", cost_sum_full[x][y])
print("Points: ", points_sum_full[x][y])

Indexes:  [ 0  4 12 17]
Cost:  13
Points:  9

In [22]:
valids = cost_sum_full <= test_salaries_full
valids

array([[ True,  True, False, False, False,  True, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False],
       [ True,  True,  True, False, False,  True,  True, False, False,
        False,  True, False, False, False, False, False, False, False,
        False, False],
       [ True,  True,  True,  True, False,  True,  True, False, False,
        False,  True,  True, False, False, False,  True, False, False,
        False, False],
       [ True,  True,  True,  True, False,  True,  True,  True, False,
        False,  True,  True, False, False, False,  True,  True, False,
        False, False]])

In [23]:
possibilities = points_sum_full * valids
possibilities

array([[ 5, 10,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0],
       [ 5, 10,  7,  0,  0,  7, 12,  0,  0,  0,  8,  0,  0,  0,  0,  0,
         0,  0,  0,  0],
       [ 5, 10,  7,  9,  0,  7, 12,  0,  0,  0,  8, 13,  0,  0,  0,  6,
         0,  0,  0,  0],
       [ 5, 10,  7,  9,  0,  7, 12,  9,  0,  0,  8, 13,  0,  0,  0,  6,
        11,  0,  0,  0]])

In [24]:
top_inds = possibilities.argmax(axis=1)
top_inds

array([ 1,  6, 11, 11])

In [25]:
row_selectors = np.arange(test_salaries.size)
row_selectors

array([0, 1, 2, 3])

In [26]:
max_points = points_sum_full[row_selectors, top_inds]
max_points

array([10, 12, 13, 13])

In [27]:
max_costs = cost_sum_full[row_selectors, top_inds]
max_costs

array([ 8, 10, 11, 11])

In [28]:
max_inds = ids_comb_full[row_selectors, top_inds]
max_inds

array([[ 0,  4,  9, 14],
       [ 1,  5,  9, 14],
       [ 2,  6,  9, 14],
       [ 2,  6,  9, 14]])

In [29]:
test_salaries

array([ 9, 10, 11, 12])

I included the test_salaries above as a reminder of which index in the array the test salary of 11 was.
When you run the cell below, you'll see that those values match with what was calculated in the brisk solution notebook.

In [30]:
print("Top players:", max_inds[2]) #2, because that's where test_salaries is 11
print("Top points:", max_points[2])
print("Combined cost:", max_costs[2])

Top players: [ 2  6  9 14]
Top points: 13
Combined cost: 11