The basic optimization solution. The first lines are creating the information of the ids, points, and costs of them. They'll be zipped into a list together which is the format of the data used in the basic solution file.

When looking at the initial variables being created, the ids, costs, and points, each index referes to the information for a single group. After the values are zipped together, that's the information for a single one. For example, we don't know what players with ids 2 and 6 are, but added together, they cost 8.

When finding the optimal lineup, we don't care what they cost individually, so us not having this data is totally fine!

In [1]:
import pandas as pd
import ast #used for conversion of the id list pandas is reading
df = pd.read_csv('data/example_data.csv', converters={0:lambda x: ast.literal_eval(x)})
df

        ids  sal  pts pos
0    [0, 4]    5    3  PG
1    [1, 5]    7    5  PG
2    [2, 6]    8    6  PG
3    [3, 7]    9    7  PG
4   [8, 13]    2    2  SG
5   [9, 14]    3    4  SG
6  [10, 15]    5    6  SG
7  [11, 16]    6    6  SG
8  [12, 17]    8    7  SG

In [2]:
pgdf = df[df.pos=='PG']
pgdf

      ids  sal  pts pos
0  [0, 4]    5    3  PG
1  [1, 5]    7    5  PG
2  [2, 6]    8    6  PG
3  [3, 7]    9    7  PG

In [3]:
pgids = pgdf.ids.tolist()
pgsals = pgdf.sal.tolist()
pgpts = pgdf.pts.tolist()
pgs = list(zip(pgsals, pgpts, pgids))
print("PG Ids:", pgids)
print("PG Salaries:", pgsals)
print("PG Points:", pgpts)
print("PG Zipped:", pgs)

PG Ids: [[0, 4], [1, 5], [2, 6], [3, 7]]
PG Salaries: [5, 7, 8, 9]
PG Points: [3, 5, 6, 7]
PG Zipped: [(5, 3, [0, 4]), (7, 5, [1, 5]), (8, 6, [2, 6]), (9, 7, [3, 7])]

In [4]:
sgdf = df[df.pos=='SG']
sgdf

        ids  sal  pts pos
4   [8, 13]    2    2  SG
5   [9, 14]    3    4  SG
6  [10, 15]    5    6  SG
7  [11, 16]    6    6  SG
8  [12, 17]    8    7  SG

In [5]:
sgids = sgdf.ids.tolist()
sgsals = sgdf.sal.tolist()
sgpts = sgdf.pts.tolist()
sgs = list(zip(sgsals, sgpts, sgids))
print("SG Ids:", sgids)
print("SG Salaries:", sgsals)
print("SG Points:", sgpts)
print("SG Zipped:", sgs)

SG Ids: [[8, 13], [9, 14], [10, 15], [11, 16], [12, 17]]
SG Salaries: [2, 3, 5, 6, 8]
SG Points: [2, 4, 6, 6, 7]
SG Zipped: [(2, 2, [8, 13]), (3, 4, [9, 14]), (5, 6, [10, 15]), (6, 6, [11, 16]), (8, 7, [12, 17])]

The variables `pos1` and `pos2` are the structures that the basic solution uses. As an example, `pos2[2]` as the example from above. It shows that with player ids 10 and 15, they have a combined salary of 5, and total points of 4.

In [6]:
test_salary = 11

In [7]:
max_found_points = 0
for g1 in pgs:
    for g2 in sgs:
        if g1[0] + g2[0] > test_salary:
            break #assuming in sorted salary order, which they are
        points = g1[1] + g2[1]
        if points > max_found_points:
            max_found_points = points
            top_players = g1[2] + g2[2]
            top_points = points
            top_sal = g1[0] + g2[0]

In [8]:
print("Top players:", top_players)
print("Top points:", top_points)
print("Combined salaries:", top_sal)

Top players: [2, 6, 9, 14]
Top points: 10
Combined salaries: 11